* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Impact', 'Arial Black', sans-serif;
}

body {
  color: #fff;
  background: url('bg.jpg') center center/cover;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  padding: 25px 80px;
  background: rgba(0, 0, 0, 0.937);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px ;
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo span {
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 1px;
}

nav ul {
  float: right;
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 70px;
  letter-spacing: 1px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ff2c2c;
}

.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 100px);
  padding-left: 120px;
  background: rgba(0, 0, 0, 0.6);
}

.hero-content h1 {
  font-size: 5em;
  line-height: 1.1em;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
}

.red {
  color: #ff2c2c;
}

.white {
  color: #fff;
}

.cover{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.card{
    width: 500px;
    height: 500px;
    background: #141313b6;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.5);
    text-align: center;
}

.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}

.card h2{
    color: #dc4949;
    margin-top: 10px;
    letter-spacing: 1px;
}

.card p{
    font-family: Arial;
    font-size: medium;
}