* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Impact', 'Arial Black', sans-serif;
}

body {
  color: #fff;
  background: url('bg.jpg') no-repeat center center/cover;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  padding: 25px 80px;
  background: rgba(0, 0, 0, 0.937);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px ;
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo span {
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 1px;
}

nav ul {
  float: right;
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 70px;
  letter-spacing: 1px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ff2c2c;
}

.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 100px);
  padding-left: 120px;
  background: rgba(0, 0, 0, 0.6);
}

.hero-content h1 {
  font-size: 5em;
  line-height: 1.1em;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
}

.red {
  color: #ff2c2c;
}

.white {
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 14px 40px;
  background: #ff2c2c;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 6px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.btn:hover {
  background: #ff4747;
  transform: scale(1.05);
}

.form{
  width: 300px;
  height: 500px;
  margin-top: 170px;
  margin-left: 80px;
  background: linear-gradient(to top,rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
  position: absolute;
  top: -20px;
  left: 870px;
  border-radius: 10px;
  padding: 25px;
}

.form h2{
  width: 220px;
  font-family: 'Impact', 'Arial Black', sans-serif;
  text-align: center;
  color: #b44949;
  font-size: 30px;
  letter-spacing: 1px;
}

.form input{
  width: 240px;
  height: 35px;
  background: rgba(157, 144, 144, 0.304);
  border-bottom: 1px solid rgb(207, 78, 78);
  border-top: none;
  border-right: none;
  border-left: none;
  color: #a8a3a3;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 10px;
  font-family: Arial;
}

.form input:focus{
  color: #fff;
  font-family: Arial;
}

::placeholder{
  color: #978c8c;
  font-family: Arial;
}

.btnn{
  width: 240px;
  height: 40px;
  background-color: rgb(218, 58, 58);
  border: none;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}

.btnn:hover{
  background: #e04b4b;
  color: #fff;
}

.btnn a{
  text-decoration: none;
  color: #fff;
  font-family: Impact, 'Arial', sans-serif;
}

.form .link{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-top: 20px;
  text-align: center;
}

.form .link a{
  text-decoration: none;
  color: #c54a4a;
  letter-spacing: 1px;
}


.liw{
  font-family: Arial;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.icon a{
  text-decoration: none;
  color: #ffffff;
}

.icon ion-icon{
  color: #fff;
  font-size: 30px;
  padding-left: 14px;
  padding-top: 5px;
  transition: 0.3s ease;
}

.icon ion-icon:hover{
  color: #c54a4a;
}