* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Impact', 'Arial Black', sans-serif;
}

body {
  color: #fff;
  background: url('bg.jpg') center center/cover;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  padding: 25px 80px;
  background: rgba(0, 0, 0, 0.937);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px ;
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo span {
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 1px;
}

nav ul {
  float: right;
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 70px;
  letter-spacing: 1px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ff2c2c;
}

.gallery {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding-top: 0;
}

.gallery-container{
    width: 100%;
    height: 400px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

.gallery-item{
    height: 200px;
    opacity: 0;
    object-fit: cover;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.gallery-item-1{
    left: 10%;
    opacity: 0.4;
    transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4{
    height: 250px;
    opacity: 0.8;
    width: 380px;
    z-index: 1;
}

.gallery-item-2{
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3{
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;
}

.gallery-item-4{
    left: 70%;
    transform: translateX(-50%)
}

.gallery-item-5{
    left: 85%;
    opacity: 0.4;
    transform: translateX(-50%);
}

.gallery-controls{
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.gallery-controls button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}

.gallery-controls-button:focus{
    outline: none;
}

.gallery-controls-previous, .gallery-controls-next {
    color: #ffffff;
}

.gallery-controls-previous{
    position: relative;
}

.gallery-controls-previous::before{
    border: solid #ffffff;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-previous:hover::before{
    left: -40px;
}

.gallery-controls-next{
    position: relative;
}

.gallery-controls-next::before{
    border: solid #ffffff;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 45%;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-next:hover::before{
    right: -40px;
    color: #fff;
}

.gallery-nav{
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery nav li{
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected{
    background: #555;
}

.div{
    font-family: Impact, Arial;
    align-items: center;
    justify-content: center;
    display: flex;
}

.cover{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #171717db;
    gap: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    background: #ffffff10;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.5);
    text-align: center;
}

.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}

.card h2{
    margin-top: 10px;
    letter-spacing: 1px;
}

.card p{
    font-family: Arial;
    font-size: small;
}

.video {
    width: 500px;
    height: 300px;
    align-items: left;
    
}